.App {
}

.optionContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 256px);
  column-gap: 1rem;
  row-gap: 1rem;
  justify-items: left;
  align-content: space-around;
  padding: 1rem;
}
.optionContainer div {
  justify-self: stretch;
}
.searchBar {
  width: 100%;
}

.iconContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 128px);
  column-gap: 1rem;
  row-gap: 1rem;
  justify-items: center;
  padding: 1rem;
}

.iconWrapper {
  text-align: center;
}
.iconWrapper p {
  font-size: smaller;
  text-align: left;
  word-wrap: anywhere;
}

.icon {
  height: 64px;
  pointer-events: none;
  user-select: none;
}
.icon.selected {
  background-color: #999;
}

.iconInfo {
  width: 384px;
  background-color: #666;
  display: none;
  text-align: left;
}

.iconInfo.show {
  display: block;
}